* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body,
html,
#root {
  height: 100%;
  background: #f8f8fa;
}

#root {
  z-index: 10;
}

p,
strong,
span {
  color: #222;
}

aside ul li {
  cursor: pointer;
  width: 100%;
}

code {
  font-family: Consolas, "courier new", monospace;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

h2 {
  color: #333333;
}

img {
  border-radius: 6px;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4e5ca1;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8AB4F2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9da3c2;
}
